@font-face {
  font-family: 'RedHatDisplayRegular';
  src: url('./assets/fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf');
  /* font-weight: normal;
  font-style: normal; */
}
@font-face {
  font-family: 'RedHatDisplayBold';
  src: url('./assets/fonts/Red_Hat_Display/RedHatDisplay-Bold.ttf');
  /* font-weight: normal;
  font-style: normal; */
}
@font-face {
  font-family: 'RedHatDisplayMedium';
  src: url('./assets/fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf');
  /* font-weight: normal;
  font-style: normal; */
}
@font-face {
  font-family: 'RedHatDisplayBlack';
  src: url('./assets/fonts/Red_Hat_Display/RedHatDisplay-Black.ttf');
  /* font-weight: normal;
  font-style: normal; */
}

/* @global {
  html, body, #root: {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  ,
  #root: {
    position: absolute;
  }
} */
